.btnHover {
  width: 80px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  cursor: pointer;
  height: 30px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btnHover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

button.blueColor {
  background-image: linear-gradient(to right,
      #2560e1,
      #4471eb,
      #0479fe,
      #3f50ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

input+button {
  margin-left: 3rem;
  flex-shrink: 0;
}
