.table-area {
  width: 100%
}

table,
td,
th {
  border: 1px solid #f1f5f9;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  /*div와 표 사이 간격 제거*/
}

.project-table {
  text-align: center;
  border: 1px solid #f1f5f923;
  width: 70%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 3%;
}

tr.protr {
  background-color: rgba(255, 255, 255, 0.459);
  height: 30px;
  color: black;
}

td {
  color: black;
}

th.check_th {
  background-color: #083078;
  color: white;
  width: 10%;
}

th.proname_th {
  background-color: #083078;
  color: white;
  width: 70%;
  height: 50px;
}

th.date_th {
  background-color: #083078;
  width: 20%;
  color: white;
}
